#h1Titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header{
    height: 40px;
    background-color: #528dcc;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#Imagen{
    width: 200px;
}