
Modelo de Parcial/obj/Debug/Obj.o
Modelo de Parcial/obj/Debug/Obj1.o
Modelo de Parcial/obj/Debug/Obj2.o
Modelo de Parcial/obj/Debug/Funciones.o
Modelo de Parcial/obj/Debug/Fecha.o
Modelo de Parcial/obj/Debug/main.o
Modelo de Parcial/bin/Debug/Modelo de Parcial.exe
Modelo de Parcial/Modelo de Parcial.layout
Modelo de Parcial/Modelo de Parcial.depend
