
Modelo de Parcial/obj/Debug/Obj.o
Modelo de Parcial/obj/Debug/Obj1.o
Modelo de Parcial/obj/Debug/Obj2.o
Modelo de Parcial/obj/Debug/Funciones.o
Modelo de Parcial/obj/Debug/Fecha.o
Modelo de Parcial/obj/Debug/main.o
Modelo de Parcial/bin/Debug/Modelo de Parcial.exe
Modelo de Parcial/Modelo de Parcial.layout
Modelo de Parcial/Modelo de Parcial.depend
Primer parcial/bin/Debug/Primer parcial.exe
Primer parcial/obj/Debug/main.o
Primer parcial/Primer parcial.layout
Primer parcial/Primer parcial.depend
Asignacion dinamica de memoria/Asignacion dinamica de memoria.depend
Asignacion dinamica de memoria/Asignacion dinamica de memoria.layout
Asignacion dinamica de memoria/bin/Debug/Asignacion dinamica de memoria.exe
Asignacion dinamica de memoria/obj/Debug/Funciones.o
Asignacion dinamica de memoria/obj/Debug/main.o
ModeloParcial/bin/Debug/ModeloParcial.exe
ModeloParcial/ModeloParcial.depend
ModeloParcial/ModeloParcial.layout
ModeloParcial/obj/Debug/estudiante.o
ModeloParcial/obj/Debug/examen.o
ModeloParcial/obj/Debug/fecha.o
ModeloParcial/obj/Debug/main.o
ModeloParcial/obj/Debug/ModeloParcial.o
